<div
  (mouseenter)="deleteVisible = true"
  (mouseleave)="deleteVisible = false"
  [style.background-image]="'url(' + list.poster_path + ')'"
  class="bg-primary rounded flex flex-col items-center justify-center h-full w-full relative">
  <mat-icon
    class="text-red-500 absolute right-2 top-2 hover:cursor-pointer"
    *ngIf="deleteVisible"
    (click)="deleteList()"
    >cancel</mat-icon
  >
  <div class="flex flex-col">
    <h1
      class="text-white italic bold text-2xl hover:cursor-pointer"
      [routerLink]="['/lists', list.id]">
      {{ list.name }}
    </h1>
    <p class="text-white">{{ list.item_count }} elements</p>
    <p class="text-white">{{ list.description }}</p>
  </div>
</div>
