<div class="min-h-screen pb-10" *ngIf="movieListDetails$ | async as movieList">
  <div class="h-60 bg-gradient-radial bg-cover" [style.background-image]="movieList.items.length > 0 ?
  'linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),url(' + imagePath + movieList.items[0].backdrop_path + ')' : ''
">
    <div class="h-full">
      <div class="h-[95%] w-[95%] m-auto flex flex-col">
        <h1 class="list-name text-white bold text-4xl mt-3">
          {{ movieList.name }}
        </h1>
        <p class="list-description text-white">
          {{
            movieList.description === ''
              ? 'No description'
              : movieList.description
          }}
        </p>
        <div class="list__controls flex flex-row mt-auto">
          <button
            class="bg-gradientBlue text-white font-bold py-2 px-4 rounded flex flex-row items-center justify-center disabled:opacity-25"
            (click)="clearList()"
            [disabled]="movieList.items.length === 0">
            <mat-icon>delete</mat-icon> Clear List
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="bg-gray-100 h-30 mb-5 flex flex-col items-center" *ngIf="movieList.items.length > 0">
      <div class="h-full w-max flex flex-row items-center justify-between gap-10 pt-3 pb-3">
        <div class="text-gradientBlue flex flex-col items-center">
          <p class="text-4xl">{{movieList.items.length}}</p>
          <p class="text-l bold">ELEMENTS</p>
        </div>
        <div class="text-gradientBlue flex flex-col items-center flex-nowrap">
          <p class="text-4xl bold">{{movieList.items | movieItemsAverageRating}}%</p>
          <p class="text-l">AVERAGE RATING</p>
        </div>
        <div class="text-gradientBlue flex flex-col items-center">
          <p class="text-4xl bold">{{movieList.favorite_count}}</p>
          <p class="text-l">FAVORITES</p>
        </div>
      </div>
    </div>
    <div
      class="flex flex-row justify-center md:justify-start items-center gap-4 flex-wrap w-11/12 m-auto"
      *ngIf="movieList.items!.length > 0">
      <app-movie
        *ngFor="let movie of movieList.items; index as movieIndex"
        [movie]="movie"
        [position]="movieIndex"
        class="w-fit"></app-movie>
    </div>
    <div class="w-11/12 m-auto" *ngIf="movieList.items!.length === 0">
      You have no elements in this list.
      <a
        routerLink="/home"
        class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
        >Go to home.</a
      >
    </div>
  </div>
</div>
