<div class="carrousel__container min-h-80">
  <h1 class="carrousel-title font-bold py-3 text-2xl px-10 text-primary">
    {{ sectionTitle }}
  </h1>
  <div
    class="carrousel overflow-x-auto flex flex-row gap-10 pb-10 last:pr-10"
    [horizontal]="true"
    infinite-scroll
    [scrollWindow]="false"
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()">
    <app-home-card
      class="first:pl-10"
      *ngFor="let value of products"
      [id]="100"
      [title]="value.title"
      [released]="value.release_date"
      [voteAvg]="value.vote_average * 10"
      [voteCount]="value.vote_count"
      [popularity]="value.popularity"
      [imageUrl]="value.poster_path">
      value
    </app-home-card>
  </div>
</div>
